/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// start here
:root {
    --main-bg-color: #FFC0CB;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 40vh;
    background: linear-gradient(171deg, var(--main-bg-color) 60%, #ffffff 40%);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.main {
    min-height: 50vh;
    padding: 50px 10% 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    color: rgb(73, 73, 73);
    min-height: 30vh;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    .footer-text-container {
        @extend .flex-col;
        justify-content: space-evenly;
    }

    .footer-text-bold {
        font-size: 3rem;
    }

    .footer-text {
        font-size: 1.5rem;
    }



    padding: 100px 10% 100px 10%;
}

.flex-row {
    display: flex;
    align-items: center;

}

.flex-col {
    display: flex;
    flex-direction: column;
}

.about-me-card {
    display: flex;
    min-height: 25vh;
    width: 80vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    gap: 10px;
    box-shadow: 0 3px 10px 3px rgb(0 0 0 / 0.2);

}

.mugshot {
    min-height: 100%;
    box-shadow: 0 3px 10px 3px rgb(0 0 0 / 0.2);
    z-index: 1000;
}

.about-me-bold-text {
    font-size: 3rem;
}

.about-me-text {
    font-size: 1.5rem;
    color:rgb(100, 100, 100)
}

.icons {
    @extend .flex-row;
    justify-content: end;
    img {
        max-height: 30px;
    }
    gap: 10px;
}

.project-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
    grid-auto-rows: 1fr;
    list-style: none;
    border-radius: 30px;
}

.project {
    background-color: #ffffff;
    color: #fff;
    border-radius: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px 3px rgb(0 0 0 / 0.2);

    .project-text-bold {
        color: black;
        font-size: 1.5rem;
    }
    
    .project-text {
        color:#000000;
        font-size: 1.2rem;
        color:rgb(100, 100, 100);
    
    }

    .project-header {
        @extend .flex-row;
        justify-content: space-between;
    }
    
    .project-contents {
        @extend .flex-col;
        padding: 20px;
        gap:10px;
    }
    
}

.screenshot {
    max-height:50%;
    width: auto;
    height: auto;
    background-color: var(--main-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex:1;
}


.social-icons {
    @extend .icons;
    justify-content: start;
    img {
        max-height: 40px;
    }
    gap: 30px;
}

.contact-info {
    display: flex;
    gap: 10px;
}

.footer-image {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

#mobile-footer-image {
    display: none;
    overflow-x: hidden;

}

@media only screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
    }

    .header {
        .flex-row {
            flex-direction: column;
            max-height: 300px;
            gap: 30px;
            max-width: 100%;
        }
        .about-me-card {
            max-width: 80vw;
            min-height: auto;
            position: relative;
            box-shadow: none;
        }

        .about-me-bold-text {
            text-align: center;
        }

        .about-me-text {
            font-size: 1.3rem;
        }

        .icons {
            flex-direction: row;
            justify-content: center;
        }
        margin-bottom: 600px;
        max-height: 600px;
    }
    .footer-text-container {
        gap: 10px;
    }

    .footer {
        gap: 20px;
        .footer-text-bold {
            text-align: center;
        }
        padding-top: 40px;
    }

    #desktop-footer-image {
        display: none;
    }
    #mobile-footer-image {
        display: block;
        max-width: 100%;
    }
    
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    }
    .project {
        min-height: 150px;
    }

    .social-icons {
        justify-content: center;
    }
}
